
# Data-analytiikka - Harjoitus 2

Huomaa, että tehtävät tulee palauttaa Moodleen html-tiedostona, jossa näkyvät sekä koodisolujen sisällöt että tulosteet. Notebookin saat html-tiedostoksi valitsemalla File -> Download as -> HTML. Vastauksiin voi lisätä kommentteja tai väliin Markdown-soluja, missä selität mitä olet tehnyt.  Palauta tässä harjoituksessa tehtävätiedosto ja tarkista tehtäväsi automaattisen tarkastuksen avulla Moodlessa.

**Opiskelijan nimi**: Pyry Anttila

**Opiskelijanumero**: AD0828

## Datan lukeminen CSV - url

a) Lue 'cybersecurity_attacks.csv' -tiedosto osoitteestanimisestä tiedostosta 100 ensimmäistä riviä DataFrameen. 
url = https://student.labranet.jamk.fi/~ajota/Datasets/cybersecurity_attacks.csv
    - Aseta parametri, jolla luetaan vain 100 ensimmäistä riviä
    - Dataa luettaessa aseta indeksiksi tiedostossa olemassa oleva indeksi, siten ettei dataframeen tule ylimääräistä "Unnamed: 0" -saraketta. (Vihje: Sarakkeisiin voit viitata niiden nimillä tai numeroinnilla.)
    - Tulosta DataFramesta 2 viimeistä riviä näkyviin.
    
b) Tallenna lopuksi DataFramen tiedot tiedostoon nimellä "cybersecurity_attacks.csv".

Pisteytys: 1 p

In [1]:
import pandas as pd

In [2]:
# Solu / vastaus 1.1 a)
# Datan lukeminen ja parametrit.

# Tämän tehtävän vastaus tarkistetaan Moodlessa kahdessa osassa. Tämä tehtävä tarkistetaan Moodlessa kysymyksillä
# Harjoitus 2, tehtävä 1.1 a) rivit
# Harjoitus 2, tehtävä 1.1 a) sarakkeet

url = 'https://student.labranet.jamk.fi/~ajota/Datasets/cybersecurity_attacks.csv'

df = pd.read_csv(url, nrows=100, index_col=0)

df.tail(2)

,Timestamp,Source IP Address,Destination IP Address,Source Port,Destination Port,Protocol,Packet Length,Packet Type,Traffic Type,Payload Data,...,Attack Type,Attack Signature,Action Taken,Severity Level,Device Information,Network Segment,Proxy Information,Firewall Logs,IDS/IPS Alerts,Log Source
98,2022-04-25 20:26:30,60.223.224.39,218.187.232.192,26123,7023,ICMP,158,Data,HTTP,In repellendus modi ab. Dolore ex sequi perfer...,...,Intrusion,Known Pattern A,Ignored,Medium,Mozilla/5.0 (iPad; CPU iPad OS 9_3_5 like Mac ...,Segment B,45.57.200.181,NaN,NaN,Server
99,2022-03-17 23:44:57,172.26.245.135,21.131.246.181,22345,60531,ICMP,1409,Data,FTP,Blanditiis nulla cupiditate a temporibus at. V...,...,Intrusion,Known Pattern B,Ignored,Low,Mozilla/5.0 (compatible; MSIE 9.0; Windows 98;...,Segment C,169.0.178.199,NaN,Alert Data,Server

In [3]:
# Solu / vastaus 1.1 b
# Datan tallentaminen csv-tiedostoksi. Tästä kopioidaan koko koodi vastaukseen!
# Moodlen tehtäväntarkistuksessa dataframen nimenä on df ja tiedoston nimenä 'cybersecurity_attacks.csv'.

df.to_csv('cybersecurity_attacks.csv')

## Datan lukeminen CSV - file

Lue edellisessä kohdassa tallennetusta csv-tiedostosta "cybersecurity_attacks.csv" -tiedostosta DataFrameen vain sarakkeet:

- Timestamp
- Source IP Address
- Destination IP Address
- Source Port
- Destination Port
- Protocol

Printtaa luetusta DataFramesta ensimmäiset 2 riviä näkyviin.

Pisteytys: 0.5 p

In [4]:
# Solu / vastaus 1.2
# Kopioi Moodlen vastauskenttään koko dataframe.

df = pd.read_csv('cybersecurity_attacks.csv', usecols=['Timestamp',
                                                       'Source IP Address',
                                                       'Destination IP Address',
                                                       'Source Port',
                                                       'Destination Port',
                                                       'Protocol'])

df.head(2)

,Timestamp,Source IP Address,Destination IP Address,Source Port,Destination Port,Protocol
0,2023-05-30 06:33:58,103.216.15.12,84.9.164.252,31225,17616,ICMP
1,2020-08-26 07:08:30,78.199.217.198,66.191.137.154,17245,48166,ICMP

## JSON-datan lukeminen ja purkaminen

Lataa tiedosto participants.json osoitteesta https://student.labranet.jamk.fi/~ajota/Datasets/ tietokoneelle ja avaa käsiteltäväksi. Parsi sisäkkäisiä rakenteita sisältävä JSON siten, että kaikki JSONin avain-arvoparit ovat omissa sarakkeissaan (DataFramen sarakkeet ovat "olympialaiset", "maa", "sijoitus", "painoluokka", "vuosi", "etunimi", "sukunimi" ja "ikä").

Tulosta dataframe lopuksi näkyviin.

Pisteytys: 1 p.

In [5]:
import json
import pandas as pd

In [6]:
# Solu / vastaus 1.3
# Kopioi Moodlen automaattisen tarkistuksen vastauskenttään koko dataframe


with open('participants.json', encoding='utf-8') as f:
    data = json.loads(f.read())
    
                                 
df_list = pd.json_normalize(
    data,
    record_path=['saavutukset'],
    meta=['etunimi','sukunimi','ikä'])

df_list

    olympialaiset       maa sijoitus painoluokka  vuosi etunimi  sukunimi ikä
0  Rio De Janeiro  Brasilia    kulta       57 kg   2016   Kaori      Icho  38
1  Rio De Janeiro  Brasilia    kulta       53 kg   2016   Helen  Maroulis  32

## Datan lukeminen tekstitiedostosta

Tiedosto 'apache_log.txt' sisältää Apache serverin access log -tietoja Combined Log -formaatissa. Datassa ei ole mukana sarakeotsikoita, eikä indeksiä. 

Lue data dataframeen osoitteesta 'https://student.labranet.jamk.fi/~ajota/Datasets/apache_log.txt' siten että saat kuvakaappauksen mukaisen lopputuloksen.

![malli_apache1](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/malli_apache_log_times_gmt_sep.png)

Huomaa, että tässä vaiheessa aikaleiman aika ja gmt -tedot päätyvät eri sarakkeisiin, mutta ei anneta tämän häiritä tässä vaiheessa.

Lopputulokseen pääset tutkimalla/tekemällä seuraavat asiat:
- Tutki millä funktiolla saat luettua tekstitiedostosta dataa.
- Lue data osoitteesta 'https://student.labranet.jamk.fi/~ajota/Datasets/apache_log.txt'
- Tutki mitä erotinmerkkiä tulee käyttää, jotta tiedot päätyvät eri sarakkeisiin.
- Selvitä millä parametrilla saat kerrottua, että tiedoissa ei ole mukana sarakeotsikoita.
- Aseta sarakkeille nimet listan 'col_names' avulla.
Saat asetettua kaikki yo. asiat samaan funktioon.

col_names = ["Client's IP address", "Identd", "Userid", "Timestamp", "zone", "Request line from the client", "Status code", "Size of content", "Referer", "User-Agent HTTP request header"]

Lisätietoja datassa löytyvistä tiedoista löydät täältä: https://httpd.apache.org/docs/current/logs.html#accesslog.

Pisteytys: 1 p.

In [7]:
# Solu / vastaus 1.4
# Kopioi Moodlen automaattisen tarkistuksen vastauskenttään koko dataframe

url = 'https://student.labranet.jamk.fi/~ajota/Datasets/apache_log.txt'

df = pd.read_csv(url, sep=' ', quotechar = '"', names = ["Client's IP address",
                                                         "Identd",
                                                         "Userid",
                                                         "Timestamp",
                                                         "zone",
                                                         "Request line from the client",
                                                         "Status code",
                                                         "Size of content",
                                                         "Referer",
                                                         "User-Agent HTTP request header"])

df.head(2)

,Client's IP address,Identd,Userid,Timestamp,zone,Request line from the client,Status code,Size of content,Referer,User-Agent HTTP request header
0,109.169.248.247,-,-,[12/Dec/2015:18:25:11,+0100],GET /administrator/ HTTP/1.1,200,4263,-,Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20...
1,109.169.248.247,-,-,[12/Dec/2015:18:25:11,+0100],POST /administrator/index.php HTTP/1.1,200,4494,http://almhuette-raith.at/administrator/,Mozilla/5.0 (Windows NT 6.0; rv:34.0) Gecko/20...

# Vapaaehtoiset tehtävät

Alle on lisätty muutamia vapaaehtoisia tehtäviä, joilla voit harjoitella erilaisia tapoja lukea dataa. Näistä tehtävistä ei ole jaossa pisteitä, eikä näistä tarkisteta.

## Json-stringistä dataframeksi

Muuttujassa "urheilijat" on annettu urheilijoiden tietoja json stringinä. Tee datasta DataFrame, jossa on sarakkeet "etunimi", "sukunimi", "ikä" ja "aktiivi". Tulosta dataframe näkyviin. 

Huomaa missä muodossa data on annettu ja missä muodossa data on dataframea määrilteltäessä oltava. Tee tarvittavat muutokset ohjelmallisesti, älä muokkaa json stringiä käsin.

In [8]:
import json

urheilijat = '[{"etunimi":"Kaori", "sukunimi":"Icho","ikä":38,"aktiivi":false}, {"etunimi":"Helen","sukunimi":"Maroulis","ikä":32,"aktiivi":true}]'

In [9]:
# Vastaus

## REST API

Hae Digitrafficin rajapinnasta IC1-junan tiedot päivämäärältä 17.10.2023. Kyselyssä käytettävä url on 'https://rata.digitraffic.fi/api/v1/trains/2023-10-17/1'. Kysely palauttaa sisäkkäisiä rakenteita sisältävän JSON-objektin. Tee haetusta datasta DataFrame, jossa aikataulurivit (timeTableRows) on parsittu DataFramen riveiksi. Aseta metadataksi meta = ['trainNumber', 'departureDate', 'trainType]. Huomaa, että timeTableRows-tiedoissa esiintyy myös junan numero 'trainNumber', minkä vuoksi joudut asettamaan jsonin normalisoinnissa parametrin 'record_prefix' (anna etuliitteeksi esim. 'tTR').

Tulosta lopuksi DataFramesta 5 ensimmäistä riviä. Parsitussa DataFramessa tulisi olla sarakkeet (tTR_stationShortCode, tTR_stationUICCode, tTR_countryCode, ..., trainNumber, departureDate, trainType).

In [10]:
import requests
import pandas as pd

In [11]:
# Vastaus