# Data-analytiikka - Harjoitus 3

Huomaa, että tehtävät tulee palauttaa html-tiedostona, jossa näkyvät sekä koodisolujen sisällöt että tulosteet. Notebookin saat html-tiedostoksi valitsemalla File -> Download as -> HTML. Tehtävien vastaukset voi tehdä yhteen tai useampaan koodisoluun.

**Opiskelijan nimi**: Pyry Anttila

**Opiskelijanumero**: AD0828

## DataFramen arvojen tarkastelu, sarakkeiden ja rivien valinta

Tässä tehtävässä tutkitaan DataFramen tietojen tyyppiä ja opetellaan/kertaillaan uuden DtaFramen muodostaminen toisesta. Jatkossa tiedon tyyppi saattaa olla vastaus erilaisiin ongelmatilanteisiin. Uusia DataFrameja puolestaan on hyödyllistä muodostaa mm. silloin, kun alkuperäisestä DataFramesta halutaan tutkia vain osaa ja tehdä tähän muokkauksia.

Lue harjoituksessa 2 tallennettu "cybersecurity_attacks.csv" -tiedosto DataFrameksi (df). Ellet saanut tiedostoa tallennettua, voit lukea datan myös urlin kautta https://student.labranet.jamk.fi/~ajota/Datasets/cybersecurity_attacks.csv. 100 ensimmäistä riviä riittää.

Kirjallisten materiaalien lisäksi tähän tehtävään löydät apuja Pandasin dokumentaatiosta (tutki attribuutteja). https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

a) Tulosta DataFramesta df näkyviin jokaisen sarakkeen datatyyppi. 

b) Tulosta erikseen Timestamp -sarakkeen ensimmäisen arvon tyyppi näkyviin. Mitä huomaat?

c) Tee uusi DataFrame (df_m), mihin on otettu DataFramesta df
    - sarakkeet "Timestamp", "Source IP Address" ja "Attack Type"
    - rivit, joilla Attack Type on "Malware"
    
![malli_dfm](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/harj3_malli_df_m.png)
    
d) Indeksoi muokattu dataframe df_m uudelleen oletusarvoilla siten, että numerointi juoksee 0:sta alkaen 0,1,2, ...

![malli_dfmi](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/harj3_malli_df_m_indeksoitu.png)

Pisteytys: 0.75 p.

In [1]:
import pandas as pd

df = pd.read_csv('cybersecurity_attacks.csv', index_col = 0, nrows=100)

In [2]:
# Solu / vastaus 1.1 a)
# a) Tulosta DataFramesta df näkyviin jokaisen sarakkeen datatyyppi. TÄTÄ KOHTAA EI TARKISTETA MOODLESSA.

df.dtypes

Timestamp                  object
Source IP Address          object
Destination IP Address     object
Source Port                 int64
Destination Port            int64
Protocol                   object
Packet Length               int64
Packet Type                object
Traffic Type               object
Payload Data               object
Malware Indicators         object
Anomaly Scores            float64
Alerts/Warnings            object
Attack Type                object
Attack Signature           object
Action Taken               object
Severity Level             object
Device Information         object
Network Segment            object
Proxy Information          object
Firewall Logs              object
IDS/IPS Alerts             object
Log Source                 object
dtype: object

In [3]:
# Solu / vastaus 1.1 b)
# b) Tulosta erikseen Timestamp -sarakkeen ensimmäisen arvon tyyppi näkyviin. (Pohdi ja pistä korvan taakse jatkoa varten: Missä tarvitset tietoa datan tyypeistä? Mitä ongelmia datan muokkaamisessa ja yhdistämisessä voi tulla, jos et tiedä mitä tyyppiä data on?)

type(df['Timestamp'][0])

str

In [4]:
# Solu / vastaus 1.1 c)

# c) Tee uusi DataFrame (df_m), mihin on otettu DataFramesta df
#     - sarakkeet "Timestamp", "Source IP Address" ja "Attack Type"
#     - rivit, joilla Attack Type on "Malware"
# Tulosta uudesta dataframesta ensimmäiset 5 riviä näkyviin.

# Huom. Tulosta 5 ensimmäistä riviä kirjoittamalla solun loppuun 'df_m.head()', älä kirjoita 'print(df_m.head())'.

df_m = df[df["Attack Type"] == "Malware"][["Timestamp", "Source IP Address", "Attack Type"]]

df_m.head()

             Timestamp Source IP Address Attack Type
0  2023-05-30 06:33:58     103.216.15.12     Malware
1  2020-08-26 07:08:30    78.199.217.198     Malware
3  2023-07-02 10:38:46     163.42.196.10     Malware
5  2022-10-28 13:14:27     198.102.5.160     Malware
9  2021-08-15 22:29:04   114.109.149.113     Malware

In [5]:
# Solu /vastaus 1.1 d)

# d) Indeksoi muokattu dataframe df_m uudelleen oletusarvoilla siten, että numerointi juoksee 0:sta alkaen 0,1,2, ...
# Tulosta uudelleen indeksoidusta dataframesta ensimmäiset 5 riviä näkyviin kirjoittamalla solun loppuun 'df_m.head()'

df_m = df_m.reset_index(drop=True)

df_m.head()

             Timestamp Source IP Address Attack Type
0  2023-05-30 06:33:58     103.216.15.12     Malware
1  2020-08-26 07:08:30    78.199.217.198     Malware
2  2023-07-02 10:38:46     163.42.196.10     Malware
3  2022-10-28 13:14:27     198.102.5.160     Malware
4  2021-08-15 22:29:04   114.109.149.113     Malware

## Uusien sarakkeiden muodostaminen - osa 1

Toisinaan tietojen vertailun helpottamiseksi on järkevää muodostaa dataframeen uusia sarakkeita. Uusiin sarakkeisiin voidaan muotoilla olemassa olevaa tietoa toisin, laskea kuvaavia piirteitä tai muuta vastaavaa, jotta vältyttäisiin pitkiltä ja mahdollisesti sekavilta funktioiden, metodien ja attribuuttien "ketjuttamiselta", sekä virheiltä myöhemmässä käsittelyssä.

Tässä ja seuraavassa tehtävässä muodostetaan edellisen tehtävän dataframeen df_m pari uutta saraketta, joiden avulla voidaan myöhemmin rikastaa tietoja maatiedoilla.

1. Palauta mieleen IPv4-osoitteiden binäärimuoto, aliverkon maski ja CIDR -notaatio, elleivät nämä ole tuoreessa muistissa.
2. Tutustu Pythonin ipaddress-kirjastoon, jolla voi muotoilla ja vertailla ip-osoitteita. 
https://pypi.org/project/ipaddress/ ja 
https://docs.python.org/3/library/ipaddress.html. Asenna ipaddress-kirjasto.
3. Tee edellisen tehtävän dataframeen df_m uusi sarake "Source IP Addres type(ip)", jossa IP-osoite on muutettu stringistä IPv4Address-muotoon. (Vinkki: apply https://ajota.pages.labranet.jamk.fi/kyberuhkatieto-ja-data-analytiikka/Kirjalliset%20materiaalit/10-Datan_laatu_ja_tunnusluvut/#apply-applymap-map) Ellet saanut edellisessä tehtävässä tehtyä DataFramea df_m, voit lukea sen urlista https://student.labranet.jamk.fi/~ajota/Datasets/cybersecurity_attacks_time_ip_attype.csv
4. Printtaa dataframesta df_m "Source IP Address type(ip)" -sarakkeen ensimmäinen arvon ja sen tyyppi.

Pisteytys: 0.75 p

![malli_osa1](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/harj3_ipv4_malli.png)

In [6]:
# pip install ...
import ipaddress

In [7]:
# Solu / vastaus 1.2
# Tulosta 'Source IP Address type(ip) -sarakkeen ensimmäisen arvon tyyppi.

df_m['Source IP Address type(ip)'] = df_m['Source IP Address'].apply(lambda x: ipaddress.IPv4Address(x))

type(df_m['Source IP Address type(ip)'][0])

ipaddress.IPv4Address

## Uusien sarakkeiden muodostaminen - osa 2

Muodostetaan tässä kohdassa apusarake "network", jonka avulla harjoituksen viimeisessä kohdassa  saadaan lopulta yhdistettyä DataFrameen IP-osoitetta vastaava maatieto.

Tiedostossa geoip2-ipv4.csv on listattu IP-osoitteiden maanosia ja maita.

1. Lue data DataFrameen df_geo urlista https://student.labranet.jamk.fi/~ajota/Datasets/geoip2-ipv4.csv
2. Muodosta DataFrameen df_m uusi sarake "network", jossa on tieto mihin df_geo DataFramessa listattuihin verkkoihin IP kuuluu. Tiedostossa ei välttämättä ole tietoja kaikista verkoista. Käytä/aseta puuttuviksi arvoiksi Numpyn NaN-arvoja.
3. Tulosta dataframesta 5 ensimmäistä riviä näkyviin.

Voit lähteä ratkomaan tehtävää esim. seuraavasti, muutkin ratkaisut, joilla saat network-sarakkeen muodostettua DataFrameen ovat ok.
- Tallenna DataFramen df_geo "network"-arvot listaan
- Määrittele funktio, joka hoitaa tarkistuksen listan verkkojen ja IP:n välillä. Jos IP kuuluun verkon maskiin, funktio palauttaa ko. verkon.
- Tee tarkistus DataFramen df_m IP:ille.

Pisteytys: 1 p

Alla kuvakaappaus tavoitellusta lopputuloksesta:

![malli](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/malli_add_network_column.png)

In [8]:
# Luetaan maatiedot
df_geo = pd.read_csv('https://student.labranet.jamk.fi/~ajota/Datasets/geoip2-ipv4.csv')

In [9]:
# Koodit tähän soluun
import numpy as np

network_list = df_geo['network'].tolist()

def find_network(ip):
    for network in network_list:
        try:
            if ip in ipaddress.IPv4Network(network):
                return network
        except ValueError:
            continue
    return np.nan

df_m['network'] = df_m['Source IP Address type(ip)'].apply(find_network)

In [10]:
# Solu / vastaus 1.3

# Aja tämän solun koodi viimeisenä. Lopputuloksena pitäisi olla kuvakaappauksen mukaisesta dataframesta 5 ensimmäistä riviä.

df_m.head(5)

,Timestamp,Source IP Address,Attack Type,Source IP Address type(ip),network
0,2023-05-30 06:33:58,103.216.15.12,Malware,103.216.15.12,NaN
1,2020-08-26 07:08:30,78.199.217.198,Malware,78.199.217.198,78.192.0.0/10
2,2023-07-02 10:38:46,163.42.196.10,Malware,163.42.196.10,163.42.0.0/15
3,2022-10-28 13:14:27,198.102.5.160,Malware,198.102.5.160,198.102.0.0/17
4,2021-08-15 22:29:04,114.109.149.113,Malware,114.109.149.113,114.109.0.0/16

## Tietojen yhdistäminen

Rikasta DataFramen df_m tietoja yhdistämällä siihen maatiedot Dataframesta df_geo. Ellet saanut edellisessä kohdassa luotua network-saraketta, jonka mukaan tietoja voi yhdistää, voit lukea datan tästä urlista 'https://student.labranet.jamk.fi/~ajota/Datasets/df_m_malware_ip_and_network.csv'.
- Määritä **minkä** mukaan yhdistäminen tehdään.
- Määritä **miten** yhdistäminen tehdään. 
    - Lopputulokseen ei haluta mukaan maita, joista hyökkäyksiä ei ole. (Toisin sanoen ei haluta mukaan turhia ylimääräisiä rivejä, joilla Timestamp, Source IP Address, Attack Type ja Source IP Address type(ip) olisi NaN)
    - Hyökkäyksiä (DataFramen df_m rivejä), joille maatietoja ei löydy, ei haluta tiputtaa pois.
- Huomioi sarakkeen tyyppi, jonka mukaan yhdistäminen tehdään. Voit edelleen joutua tekemään muokkauksia, jotta yhdistämisen voi tehdä.

Tulosta lopuksi yhdistetyn dataframen rivien määrä näkyviin.
Tulosta DataFramen sarakkeet näkyviin.

Pisteytys: 1 p

Alla mallia:
![malli](https://student.labranet.jamk.fi/~ajota/Data-analytics/images/malli_df_m_df_geo_merged.png)

In [11]:
# Maatiedot
#dfg = pd.read_csv('https://student.labranet.jamk.fi/~ajota/Datasets/geoip2-ipv4.csv')

In [12]:
# Koodeja tähän soluun...

df3 = pd.merge(df_m, df_geo, on='network', how='inner')

In [13]:
# Solu 1.4 a)
# Tulosta lopputuloksena saadun dataframen rivien lukumäärä näkyviin. DataFramen nimenä on käytetty nimeä 'df'.

len(df3)

36

In [14]:
# Solu 1.4 b)
# Tulosta lopputuloksena saadun dataframen sarakkeet näkyviin. DataFramen nimenä on käytetty nimeä 'df', vaihda jos käytit toista nimeä.

df3.columns

Index(['Timestamp', 'Source IP Address', 'Attack Type',
       'Source IP Address type(ip)', 'network', 'geoname_id', 'continent_code',
       'continent_name', 'country_iso_code', 'country_name',
       'is_anonymous_proxy', 'is_satellite_provider'],
      dtype='object')

In [15]:
df3.head()

,Timestamp,Source IP Address,Attack Type,Source IP Address type(ip),network,geoname_id,continent_code,continent_name,country_iso_code,country_name,is_anonymous_proxy,is_satellite_provider
0,2020-08-26 07:08:30,78.199.217.198,Malware,78.199.217.198,78.192.0.0/10,3017382.0,EU,Europe,FR,France,False,False
1,2023-07-02 10:38:46,163.42.196.10,Malware,163.42.196.10,163.42.0.0/15,1861060.0,AS,Asia,JP,Japan,False,False
2,2022-10-28 13:14:27,198.102.5.160,Malware,198.102.5.160,198.102.0.0/17,6252001.0,NaN,North America,US,United States,False,False
3,2021-08-15 22:29:04,114.109.149.113,Malware,114.109.149.113,114.109.0.0/16,1605651.0,AS,Asia,TH,Thailand,False,False
4,2022-07-20 13:28:50,177.21.83.200,Malware,177.21.83.200,177.0.0.0/10,3469034.0,SA,South America,BR,Brazil,False,False